server {
    listen 80;
    server_name _;

    root /var/www/html/;
    index index.php index.html index.htm;

    location / {
        try_files $uri $uri/ /index.php?$args;
    }

    location ~ \.php$ {
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_pass unix:/var/run/php/php8.1-fpm.sock; 
        try_files $uri =404;
    }

    error_log /var/log/nginx/{{ server_name }}_error.log;
    access_log /var/log/nginx/{{ server_name }}_access.log;
}

